doctype html

// get variables from the router:
- headers = tableHeaders
- data = tableData

html
  head
    title Returning Member
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/styles.css")

  body
    h1 Welcome to the Admin Page!
    table(class="table")
      thead
        tr
          each item in headers
            th(scope="col")= item
      tbody
        // this is the general structure we are going to follow -> nested for loop style
        each item in data
          tr
            each data in item
              if data == "Present"
                td(class="text-success")= data
              else if data == "Absent"
                td(class="text-warning")= data
              else
                td= data