doctype html

html
  head
    title Returning Member
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/styles.css")

  body
    p Welcome to the Admin Page!