extends layout

block content
  nav(class="navbar navbar-light bg-light justify-content-between")
    a(class="navbar-brand") Navbar
    div
      a(class="btn btn-outline-success", href="#") First Time?
      a(class="btn btn-outline-success", href="/adminlogin") Admin
  
  div(class="row h-100 justify-content-center align-items-center")
    div(class="d-flex shadow-lg p-3 mb-5 bg-white rounded")
      div
        h3(class="text-center") Submit Your Attendance
        form(method="POST", action="/submit-attendance")
          div(class="form-group")
            label(for="firstname") First Name
            input(class="form-control", type="text", id="firstname", placeholder="John", name="firstname")
          div(class="form-group")
            label(for="lastname") Last Name
            input(class="form-control", type="text", id="lastname", placeholder="Doe", name="lastname")
          div(class="form-group")
            label(for="email") Email Address
            input(class="form-control", type="text", id="email", placeholder="johndoe@email.com", name="email")
          div(class="text-center")
            button(class="btn btn-primary", type="submit") Submit
