doctype html

html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/styles.css")

  body(class="new-member-success-body")
    div(class="form-body-wrapper")
      div(class="container")
        div(class="row center-block")
          div(class="col-sm-1")
          div(class="col-sm-10 container-c-border text-center")
            h2 New member successfully created!
            a(href='/' class="btn btn-primary") Go to attendance form 
          div(class="col-sm-1")

