.html {
  height: 100%;
}

.body {
  height: 100%;
}

.returning-member-body {
  background-image: url('/images/index-page-background.jpg');
  /* background-size: 100% 100%; */
}

.new-member-body {
  background-image: url('/images/new-member-background.png');
}

.admin-login-body {
  background-image: url('/images/admin-login-background.jpg');
}

.new-member-success-body {
  background-image: url('/images/new-member-success.jpg');
}

.form-body-wrapper {
  /*height: 100vh;*/
  /* 94 is the limit before the scrollbar appears */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-c-border {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}
